<h2 mat-dialog-title>
  <ng-template [ngIf]="data != null">
    {{ (data.id == null ? 'New User' : 'Edit User') }}
  </ng-template>
</h2>
<mat-dialog-content>
  <form id="userCrud"
        *ngIf="form != null"
        [formGroup]="form"
        (submit)="onSubmit()"
  >

  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button
          (click)="onClose()">
    Cancel
  </button>
  <button mat-button
          type="submit"
          form="userCrud"
          (click)="onSubmit()">
    Install
  </button>
</mat-dialog-actions>
